body {
  font-family: sans-serif;
  text-align: center;
}
h1, p {
  color: purple;
}
mark {
  background-color: purple;
  color: white;
}

h1, p {
  color: purple;
  font-size: 4em;
  text-align: center;
}
h1 {
  font-size: 4em;
  margin-bottom: 1em;
}

p a {
  color: white;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

body {
  background-image: url("https://t3.ftcdn.net/jpg/04/83/90/18/360_F_483901821_46VsNR67uJC3xIKQN4aaxR6GtAZhx9G8.jpg");
  background-size: cover;
  background-position: center;
}